:root {
  --background: #171717;
  --text: #fff8e7;
  --highlight: #eb620e;
  --link: #1999af;
  --visited-link: #a78fc8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --text: #fff8e7;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  color: var(--highlight);
}

.sidebar {
  width: 250px;
  background-color: var(--background);
  padding: 20px;
  border-right: 2px solid var(--highlight);
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: var(--link);
  font-weight: bold;
}

.sidebar a:hover {
  color: var(--highlight);
}

.main-content {
  flex: 1;
  padding: 20px;
}